$mainBkg: #E13F5E;
$secondBkg: #979797;
$lineColor: #2C2D32;
$border1: #F6708E;
$border2: #F6B4C2;
$arrowheadColor: #2C2D32;

/* Flowchart variables */

$nodeBkg: $mainBkg;
$nodeBorder: #F6708E;
$clusterBkg: $secondBkg;
$clusterBorder: $border2;
$defaultLinkColor: $lineColor;
$titleColor: #FFFFFF;
$edgeLabelBackground: #F6B4C2;
$edgeLabelcolor: #FFFFFF;

/* Sequence Diagram variables */

$actorBorder: $border1;
$actorBkg: $mainBkg;
$actorTextColor: #FFFFFF;
$actorLineColor: #2C2D32;
$signalColor: #666;
$signalTextColor: #666;
$labelBoxBkgColor: $actorBkg;
$labelBoxBorderColor: $actorBorder;
$labelTextColor: $actorTextColor;
$loopTextColor: $actorTextColor;
$noteBorderColor: $border2;
$noteBkgColor: #E13F5E;
$noteTextColor: $actorTextColor;
$activationBorderColor: #2C2D32;
$activationBkgColor: #F6B4C2;
$sequenceNumberColor: #E13F5E;

/* Gantt chart variables */

$sectionBkgColor: #F6B4C2;
$altSectionBkgColor: white;
$sectionBkgColor2: #fff400;
$taskBorderColor: #E13F5E;
$taskBkgColor: #F6708E;
$taskTextLightColor: white;
$taskTextColor: $taskTextLightColor;
$taskTextDarkColor: #2C2D32;
$taskTextOutsideColor: $taskTextDarkColor;
$taskTextClickableColor: #E13F5E;
$activeTaskBorderColor: #E13F5E;
$activeTaskBkgColor: #F6708E;
$gridColor: lightgrey;
$doneTaskBkgColor: lightgrey;
$doneTaskBorderColor: #2C2D32;
$critBorderColor: #F6708E;
$critBkgColor: #E13F5E;
$todayLineColor: #E13F5E;

/* state colors */
$labelColor: #2C2D32;

$errorBkgColor: #552222;
$errorTextColor: #552222;

@import '../mermaid';
